
*.lock
MVP/.vs/MVP/v16/.suo
*.ide
*.ide-shm
*.ide-wal
*.testlog
*.manifest
MVP/Data/bin/Debug/netstandard2.0/Data.deps.json
*.dll
*.pdb
*.exe
*.cache
*.props
*.targets
*.suo
/obj/
/.vs/
bin/ 	# ignore bin directory 
*.obj 	# ignore any files with .obj postfix 
MVP/MVP/obj/Debug/netcoreapp3.0/MVP.csproj.FileListAbsolute.txt
MVP/.vs/MVP/DesignTimeBuild/.dtbcache
*.tmp
MVP/MVP.Test/bin/Debug/netcoreapp3.0/nunit_random_seed.tmp
*.tmp
MVP/Data/bin/Release/netstandard2.0/MVP.Data.deps.json
MVP/Data/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
MVP/Data/obj/Release/netstandard2.0/MVP.Data.AssemblyInfo.cs
MVP/Data/obj/Release/netstandard2.0/MVP.Data.csproj.FileListAbsolute.txt
MVP/MVP.API/bin/Release/netcoreapp3.0/appsettings.Development.json
MVP/MVP.API/bin/Release/netcoreapp3.0/appsettings.json
MVP/MVP.API/bin/Release/netcoreapp3.0/MVP.API.deps.json
MVP/MVP.API/bin/Release/netcoreapp3.0/MVP.API.runtimeconfig.dev.json
MVP/MVP.API/bin/Release/netcoreapp3.0/MVP.API.runtimeconfig.json
MVP/MVP.API/bin/Release/netcoreapp3.0/Properties/launchSettings.json
MVP/MVP.API/obj/Release/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
MVP/MVP.API/obj/Release/netcoreapp3.0/MVP.API.AssemblyInfo.cs
MVP/MVP.API/obj/Release/netcoreapp3.0/MVP.API.csproj.CopyComplete
MVP/MVP.API/obj/Release/netcoreapp3.0/MVP.API.csproj.FileListAbsolute.txt
MVP/MVP.API/obj/Release/netcoreapp3.0/staticwebassets/MVP.API.StaticWebAssets.xml
MVP/MVP.InitializeDataBase/bin/Release/netcoreapp3.0/MVP.InitializeDataBase.deps.json
MVP/MVP.InitializeDataBase/bin/Release/netcoreapp3.0/MVP.InitializeDataBase.runtimeconfig.dev.json
MVP/MVP.InitializeDataBase/bin/Release/netcoreapp3.0/MVP.InitializeDataBase.runtimeconfig.json
MVP/MVP.InitializeDataBase/obj/Release/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
MVP/MVP.InitializeDataBase/obj/Release/netcoreapp3.0/MVP.InitializeDataBase.AssemblyInfo.cs
MVP/MVP.InitializeDataBase/obj/Release/netcoreapp3.0/MVP.InitializeDataBase.csproj.CopyComplete
MVP/MVP.InitializeDataBase/obj/Release/netcoreapp3.0/MVP.InitializeDataBase.csproj.FileListAbsolute.txt
MVP/MVP.Services/bin/Release/netstandard2.0/MVP.Services.deps.json
MVP/MVP.Services/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
MVP/MVP.Services/obj/Release/netstandard2.0/MVP.Services.AssemblyInfo.cs
MVP/MVP.Services/obj/Release/netstandard2.0/MVP.Services.csproj.CopyComplete
MVP/MVP.Services/obj/Release/netstandard2.0/MVP.Services.csproj.FileListAbsolute.txt
MVP/MVP.Test/bin/Release/netcoreapp3.0/appsettings.Development.json
MVP/MVP.Test/bin/Release/netcoreapp3.0/appsettings.json
MVP/MVP.Test/bin/Release/netcoreapp3.0/MVP.Test.deps.json
MVP/MVP.Test/bin/Release/netcoreapp3.0/MVP.Test.runtimeconfig.dev.json
MVP/MVP.Test/bin/Release/netcoreapp3.0/MVP.Test.runtimeconfig.json
MVP/MVP.Test/bin/Release/netcoreapp3.0/Properties/launchSettings.json
MVP/MVP.Test/obj/Release/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
MVP/MVP.Test/obj/Release/netcoreapp3.0/MVP.Test.AssemblyInfo.cs
MVP/MVP.Test/obj/Release/netcoreapp3.0/MVP.Test.csproj.CopyComplete
MVP/MVP.Test/obj/Release/netcoreapp3.0/MVP.Test.csproj.FileListAbsolute.txt
MVP/.vs/MVP/DesignTimeBuild/.dtbcache.v2
/test.postman_collection.json
/MVP/Data/bin/Debug/netstandard2.0/MVP.Data.deps.json
/MVP/MVP.API/bin/Debug/netcoreapp3.0
/MVP/MVP.InitializeDataBase/bin/Debug/netcoreapp3.0
/MVP/MVP.Test/bin/Debug/netcoreapp3.0
/MVP/MVP.API/obj/Debug/netcoreapp3.0/MVP.API.csproj.CopyComplete
/MVP/MVP.API/obj/Debug/netcoreapp3.0/MVP.API.GeneratedMSBuildEditorConfig.editorconfig
/MVP/.vs/MVP
/MVP/Data/obj
/MVP/MVP.API/obj
/MVP/MVP.InitializeDataBase/obj
/MVP/MVP.Services/bin/Debug/netstandard2.0
/MVP/MVP.Services/obj/Debug/netstandard2.0
/MVP/MVP.Services/obj
/MVP/MVP.Test/obj
MVP/.vs/MVP/v17/.suo
MVP/.vs/MVP/v17/.su
/MVP/Data/bin/Debug/netcoreapp3.1
/MVP/MVP.API/bin/Debug/netcoreapp3.1
/MVP/MVP.Test/bin/Debug/netcoreapp3.1
/MVP/MVP.Services/bin/Debug/netcoreapp3.1
/MVP/.vs/ProjectEvaluation
/MVP/Data/bin/Debug/net5
/MVP/MVP.API/bin/Debug/net5
/MVP/MVP.Services/bin/Debug/net5
/MVP/MVP.Test/bin/Debug/net5
